tbody td.dt-body-center {
    text-align: center;
    vertical-align: middle;
}

tbody td.dt-body-right {
    text-align: right;
    vertical-align: middle;
}

tbody td.dt-body-left {
    text-align: left;
    vertical-align: middle;
}

label.error {
    color: #ea6e7b !important;
}

.color-error {
    color: #ea6e7b !important;
}

.color-success {
    color: #9ad67b !important;
}

.color-warning {
    color: #e8cc75 !important;
}
